<div class="">
    <table class="table table-active">
        <tr>
            <td>Date</td>
            <td>session1</td>
            <td>session2</td>
            <td>session3</td>
            <td>session4</td>
            <td>session5</td>
            <td>session6</td>
            <td>session7</td>
            <td>session8</td>
            <td>session9</td>
            <td>session10</td>
            <td>session11</td>
        </tr>
        <!-- <tr *ngFor="let item of schadule;">
            <td>{{item.Date}}</td>
            <td *ngFor="let item of session1;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}
                </td>
            <td *ngFor="let item of session2;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}</td>
            <td *ngFor="let item of session3;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session4;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session5;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session6;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session7;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session8;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session9;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session10;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
            <td *ngFor="let item of session11;">{{item.patientName}}{{item.sessionName}}{{item.sessionStart}}</td>
        </tr> -->
    </table>
</div>
